<key>CFBundleDocumentTypes</key>
<array>
  <dict>
    <key>CFBundleTypeName</key><string>Scripting Definition (SDEF)</string>
    <key>CFBundleTypeRole</key><string>Editor</string>
    <key>LSHandlerRank</key><string>Default</string>

    <key>CFBundleTypeExtensions</key>
    <array>
      <string>sdef</string>
      <string>xml</string>
    </array>

    <key>LSItemContentTypes</key>
    <array>
      <string>com.apple.scripting-definition</string>
      <string>public.xml</string>
    </array>

    <!-- Module-qualified Swift class name -->
    <key>NSDocumentClass</key><string>$(PRODUCT_MODULE_NAME).SDEDocument</string>
  </dict>
</array>
